{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MedItCRM | {% block title %}{% endblock title %}</title>

  <!-- Normalize Elements -->
  <link rel="stylesheet" href="{% static 'dist/css/normalize.css' %}">
    <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="{% static 'dist/css/googlefonts.css' %}">
  {% block select2style %}{% endblock select2style %}
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/meditcrm.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- Ico Font -->
  <link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css' %}">

  {% block extrastyle %}{% endblock extrastyle %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">

  <div class="wrapper">

    {% block preloader %}
      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="{% static 'dist/img/MedItCRMLogo.png' %}" alt="MedItCRMLogo" height="60" width="60">
      </div>
    {% endblock preloader %}

    {% block header %}
      {% include 'includes/navigation-light.html' %}
    {% endblock header %}

    {% block sidebar %}
      {% include 'includes/sidebar.html' %}
    {% endblock sidebar %}
    
    {% block content %}{% endblock content %}

    {% block footer %}
      {% include 'includes/footer.html' %}
    {% endblock footer %}

    {% block control_sidebar %}
      
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->

      </aside>
      <!-- /.control-sidebar -->
    
    {% endblock control_sidebar %}

  </div>
  
  {% include 'includes/scripts.html' %}
  {% block extra_scripts %}{% endblock extra_scripts %}


</body>
</html>